@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade|Great+Vibes');

body {
	margin: 0 auto;
	background: url(../images/grimes_img08.jpg) no-repeat center fixed;
}


.nav-menu{
	position: fixed;
	top: 0px; left: 0; right: 0;
	height: 40px;
	background-color: black;
}

.nav-menu a {
	padding: 10px 0 8px 0;
	text-decoration: none;
	color: red;
	font-size: 16px;
}

.nav-menu a:hover{
	color: black;
	background-color: white;
	transition: .4s;
}

.nav-menu ul{
	margin-top: 10px;
	margin-right: 20px;
	text-align: right;
}

.nav-menu li {
	color: red;
	list-style: none;
	display: inline-block;
	padding: 0 10px 0 10px;
	text-align: right;
}

.logo {
	padding: 0;
	margin: 40px auto 0;
	text-align: center;
	color: red;
	text-shadow: 2px 7px 8px;
	font-family: 'Great Vibes';
	font-size: 50px;
	letter-spacing: 20px;
	background-color: rgba(255,255,255,.5);
}

.table-div{
	width: 700px;
	margin: 0 auto;
}

.table-div img{
	width: 200px;
}

table{
	width: 700px;
	border: solid white 1px;
}

th {
	background-color: rgba(0,0,0,.8);
	height: 70px;
	color: white;
	font-size: 20px;
	font-family: impact;

}

tr {
	border: solid white 1px;

}

td {
	width: 200px;
	border: solid white 1px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,.8);
}